
.footer {
  background-color: var(--color-earth-brown); /* Usa el color que prefieras */
  color: var(--color-neutral-white);
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
