/* GamesList.css */
.games-list-container {
  text-align: center;
  padding: 20px;
  background-color: var(--color-cream); /* Fondo color crema */
}

.games-list-container h1 {
  color: var(--color-earth-brown); /* Color marrón tierra para el título */
}

.games-list-container ul {
  list-style-type: none; /* Remueve los estilos predeterminados de lista */
  padding: 0;
}

.games-list-container li {
  background-color: var(--color-terracotta-red); /* Fondo color terracota */
  margin: 10px 0;
  padding: 10px;
  border-radius: 8px;
  transition: transform 0.2s ease-in-out;
}

.games-list-container li:hover {
  transform: scale(1.05); /* Efecto de escalado al pasar el ratón */
}

.games-list-container li a {
  text-decoration: none;
  color: var(--color-neutral-white); /* Texto en blanco */
  font-weight: bold;
}
